:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #f8d1d6;
  --second-brand-color: #ebe4d9;
  --third-brand-color: #b1b7bb;

  --main-font: 'Roboto Condensed';
  --title-font: 'Roboto Slab';

  font-size: 62.5%;
}
